@using AbidzarFrame.Web.Models
@model MenuViewModel

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="500">
            <li class="start ">
                <a href="@Url.Action("Index", "Home")">
                    <i class="icon-home"></i>
                    <span class="title">Homepage</span>
                </a>
            </li>
            @DisplayTree(ViewBag.MenuList)
            <li class="start ">
                <a href="@Url.Action("Help", "Home")">
                    <i class="icon-question"></i>
                    <span class="title">Bantuan</span>
                </a>
            </li>
        </ul>
    </div>
</div>

@helper DisplayTree(List<MenuViewModel> categories)
{
    if (categories != null)
    {
        foreach (var item in categories)
        {
            <li class="@item.ActiveClass">
                <a href="@( item.MenuLink != "#" ? item.MenuLink : "javascript:void(0);")" title="@item.NamaMenu">
                    @if (item.NamaIcon != null)
                    {
                        <i class="@item.NamaIcon"></i>
                    }

                    @if (item.ChildMenu.Any())
                    {
                        <span class="title">@item.NamaMenu</span>
                        <span class="arrow "></span>
                    }
                    else
                    {
                        <span class="title">@item.NamaMenu</span>
                        if (item.DieditTanggal != null)
                        {
                            var lastUpdated = (DateTime.Now.Date - item.DieditTanggal.Value.Date).TotalDays;
                            if (lastUpdated <= 15 && lastUpdated >= 10)
                            {
                                <span class="badge badge-roundless badge-warning">new</span>
                            }
                            else if (lastUpdated <= 15)
                            {
                                <span class="badge badge-roundless badge-success">new</span>
                            }
                        }
                    }
                </a>
                @if (item.ChildMenu.Any())
                {
                    <ul class="sub-menu">
                        @DisplayTree(item.ChildMenu)
                    </ul>
                }
            </li>
        }
    }
}