@model List<AbidzarFrame.Master.Interface.Dto.BiodataResult>
@using AbidzarFrame.Web.Helpers
@{
    Layout = "~/Views/Shared/_LayoutAreaRw.cshtml";
    ViewBag.Title = "Personal";
}
@{
    var objectRw = CurrentUser.GetObjectRw();
    <section class="home-about-area pt-120">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img src="@objectRw.Photo" width="70%" />
                </div>
                <div class="col-lg-6 col-md-6 home-about-right">
                    <a href="#" class="primary-btn text-uppercase">Ketua RW @objectRw.NoRw</a>
                    <h1 class="text-uppercase">@objectRw.NamaRw</h1>
                    <dl class="accordion">
                        <dt>
                            <a href="">Visi</a>
                        </dt>
                        <dd>
                            @Html.Raw(HttpUtility.HtmlDecode(@objectRw.Visi))
                        </dd>
                        <dt>
                            <a href="">Misi</a>
                        </dt>
                        @Html.Raw(HttpUtility.HtmlDecode(@objectRw.Misi))
                    </dl>

                </div>
            </div>
        </div>
    </section>
}

<section class="timeline pt-20">
    <div class="text-center">
        <div class="menu-content pb-20">
            <div class="title text-center">
                <h1 class="mb-10">My Experiences</h1>
            </div>
        </div>
    </div>
    <ul>
        @if (Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <li>
                        <div class="content">
                            <h4>
                                <time>@Model[i].Gelar</time>
                            </h4>
                            <p><b>Session:</b>@Model[i].Tahun</p>
                            <p>@Model[i].Deskripsi</p>
                        </div>
                    </li>

                }
                else
                {
                    <li>
                        <div class="content">
                            @*<img class="img-fluid mx-auto d-block mb-30" src="img/about/c-logo.png" alt="">*@
                            <h4>
                                <time>@Model[i].Gelar</time>
                            </h4>
                            <p><b>Session:</b>@Model[i].Tahun</p>
                            <p>@Model[i].Deskripsi</p>
                        </div>
                    </li>

                }
            }
        }
    </ul>
</section>

