@model List<AbidzarFrame.Master.Interface.Dto.DetailJenisInformasiResult>
@using AbidzarFrame.Web.Helpers


@{
    Layout = "~/Views/Shared/_LayoutAreaRw.cshtml";
    ViewBag.Title = "Personal";
}
<style>
    .overflow {
        height: 106px;
        overflow: hidden;
        text-overflow: "---";
    }
</style>
<section class="home-about-area pt-120">
    <div class="container">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6 home-about-left">
                        <h1 style="color:dodgerblue;font-family:'Lucida Handwriting';font-size:30px;">@item.Judul</h1>
                        <img class="img-fluid" src="@item.NamaFile" />
                    </div>
                    <div class="col-lg-6 col-md-6 home-about-right pb-10">
                        <div class="overflow">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Deskripsi))
                        </div>
                        <a href="@Url.Action("DetailNews","AreaRw",new { id = item.Id})" class="primary-btn text-uppercase">Discover Now</a>
                    </div>
                </div>
            }
        }
    </div>
</section>

<section class="facts-area section-gap" id="facts-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-fact">
                <h1 class="counter">@CurrentUser.GetObjectRw().TotalRt</h1>
                <p>RT</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <h1 class="counter">@CurrentUser.GetObjectRw().TotalKk</h1>
                <p>Kartu Keluarga</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <h1 class="counter">@CurrentUser.GetObjectRw().TotalRumah</h1>
                <p>Rumah</p>
            </div>
        </div>
    </div>
</section>
