@model AbidzarFrame.Web.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ResendActivate", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
    @Html.AntiForgeryToken()
    <a href="javascript:void(0)">
        @*<img src="~/Content/Images/abidzarframe_logo.png" alt="logo" style="max-width:180px;max-height:180px" />*@
    </a>
    <h3>Resend Activate Form</h3>

    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
    {
        <div class="alert alert-danger" style="display: block;">
            <button class="close" data-close="alert">X</button>
            @Html.ValidationSummary(true)
        </div>
    }
    if (ViewBag.MsgScs != null)
    {
        <div class="alert alert-success" style="display: block;">
            <button class="close" data-close="alert">X</button>
            @ViewBag.MsgScs
        </div>
    }
    @*<h3 class="form-title">Login to your account</h3>*@
    <div class="form-group">
        @Html.LabelFor(m => m.IdUser, new { @class = "control-label visible-ie8 visible-ie9" })
        <div class="input-icon">
            <i class="fa fa-user" title="@Html.DisplayNameFor(m => m.IdUser)"></i>
            @Html.TextBoxFor(m => m.IdUser, new { @class = "form-control placeholder-no-fix bg-grey-steel", type = "text", placeholder = @Html.DisplayNameFor(m => m.IdUser) })
        </div>
        @Html.ValidationMessageFor(m => m.IdUser, "", new { @class = "help-block" })
    </div>

    <div class="form-actions">
        <a href="@Url.Action("Login", "Account")" class="btn green pull-left">
            <i class="m-icon-swapleft m-icon-white"></i> Back Login
        </a>

        <button type="submit" id="register-submit-btn" class="btn blue pull-right">
            Resend Activate <i class="m-icon-swapright m-icon-white"></i>
        </button>
        &nbsp;
    </div>

}