@model List<AbidzarFrame.Master.Interface.Dto.DetailJenisInformasiResult>
@using AbidzarFrame.Web.Helpers

@{
    ViewBag.Title = "DetailJenisInformasi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .overflow {
        height: 106px;
        overflow: hidden;
        text-overflow: "---";
    }
</style>
@if (ViewBag.MsgScs != null)
{
    <div class="alert alert-success" style="display: block;">
        <button class="close" data-close="alert">X</button>
        @ViewBag.MsgScs
    </div>
}

<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">
                <div class="row">
                    <div class="col-md-9 col-sm-8 article-block">
                        <a class="btn btn-sm blue" href="@Url.Action("Index", "Informasi", new {area = "Informasi"})">
                            <i class="fa fa-arrow-circle-left"></i>Kembali
                        </a>
                        @if (CurrentUser.IsAdmin())
                        {
                            <a id="btnAdd" class="btn btn-sm green" href="@Url.Action("EditorFormPartialForCreate", "DetailJenisInformasi", new {area = "Informasi", id = ViewBag.IdJenisInformasi})">
                                Tambah <i class="fa fa-plus"></i>
                            </a>
                        }
                        @foreach (var item in Model)
                        {
                            item.Deskripsi = HttpUtility.HtmlDecode(item.Deskripsi);

                            <div class="row">
                                <div class="col-md-12 blog-article">
                                    <h3>
                                        <a href="@Url.Action("EditorFormPartialForEdit", "DetailJenisInformasi", new { area = "Informasi", id = item.Id, flag = "View" })">
                                            @item.Judul
                                        </a>
                                    </h3>
                                    <div class="blog-img blog-tag-data">
                                        <ul class="list-inline">
                                            <li>
                                                <i class="fa fa-calendar"></i>
                                                <a href="javascript:;" style="text-decoration:none">
                                                    @item.DibuatTanggal.ToString("dd MMM yyyyy")
                                                </a>
                                                <i class="fa fa-tags"></i>
                                                <a href="javascript:;" style="text-decoration:none">
                                                    @item.JenisInformasi
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="overflow">
                                        @Html.Raw(item.Deskripsi)                                        
                                    </div>
                                    <br />
                                    <a class="btn blue" href="@Url.Action("EditorFormPartialForEdit", "DetailJenisInformasi", new { area = "Informasi", id = item.Id, flag = "View" })">
                                        Read more <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                    <a class="btn green" href="@Url.Action("EditorFormPartialForEdit", "DetailJenisInformasi", new {area = "Informasi", id = item.Id, flag = "Edit"})">
                                        Edit <i class="icon-pencil m-icon-white"></i>
                                    </a>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"
                                            data-item-description="Edit" data-item-id="@item.Id" data-backdrop="static" data-keyboard="false"
                                            data-url=@Url.Action("Delete", "DetailJenisInformasi", new { area = "Informasi" })>
                                        Delete <i class="icon-trash m-icon-white"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                        }
                    </div>
                    <div class="col-md-3 col-sm-4 blog-sidebar">
                        @Html.Partial("_Sidebar")
                    </div>
                </div>
                <ul class="pagination pull-right">
                    <li>
                        <a class="btn btn-sm blue" href="@Url.Action("Index", "Informasi", new {area = "Informasi"})">
                            <i class="fa fa-arrow-circle-left"></i>Kembali
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            1
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            3
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            4
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            5
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            6
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        hideLoading();
    })
</script>


<script src="~/Content/plugins/tinymce/tinymce.min.js"></script>
<script src="~/Content/plugins/tinymce/tinymce.custom.js"></script>