@model AbidzarFrame.Reports.Interface.Dto.LaporanKasResult
@{
    Layout = null;
}

@*@Styles.Render("~/AbidzarFrame/bundles/bootstrap-datepicker3/css")*@
@Scripts.Render("~/AbidzarFrame/bundles/bootstrap-datepicker/js")

@Html.AntiForgeryToken()
@Html.Hidden("hiddenActionGrid", (object)ViewBag.ActionGrid)

<form id="FormObject">
    <fieldset>
        <div class="col-md-12">
            @{
                if ((object)ViewBag.ActionGrid == "Edit")
                {
                    <div class="row hidden">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @style = "width:100%", @maxlength = "50" })
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Deskripsi)
                    @Html.TextBoxFor(m => m.Deskripsi, new { @class = "form-control", @style = "width:100%", @maxlength = "500" })
                    @Html.ValidationMessageFor(m => m.Deskripsi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    @Html.LabelFor(m => m.Tanggal)
                    <div class="input-group date date-picker" data-date="" data-date-format="dd-mm-yyyy" data-date-viewmode="years" style="width:100%">
                        @Html.TextBoxFor(m => m.Tanggal, "{0:dd-MM-yyyy}", new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button" id="btnCalendar"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Total)
                    @Html.TextBoxFor(m => m.Total, new { @class = "form-control text-right", @style = "width:100%", @maxlength = "13" })
                    @Html.ValidationMessageFor(m => m.Total, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Tipe)
                    @Html.DropDownListFor(m => m.Tipe, (IEnumerable<SelectListItem>)ViewBag.TipeLaporanKasList, "Select :", new { @class = "form-control" })


                    @*@Html.TextBoxFor(m => m.Tipe, new { @class = "form-control", @style = "width:100%", @maxlength = "2" })*@
                    @Html.ValidationMessageFor(m => m.Tipe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </fieldset>
</form>
<script>
    $(document).ready(function () {
        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        }

        $(".date-picker").datepicker({
            dateFormat: 'dd-mm-yyyy',
            changeYear: true,
            showButtonPanel: true,
        });

        setTimeout(function () {
            //$("#Total").autoNumeric('init', { vMin: 0, vMax: 9999999999, mDec: 0 });
            //$("#Total").autoNumeric('init', { vMax: 100.00, mDec: 2 });
        }, 1000);
    })
</script>
